---
import {Card, CardContent, CardFooter, CardHeader, CardTitle} from "@/components/ui/card";
let { title, url, description, image } = Astro.props.frontmatter || Astro.props;
---

<a href={url}>
  <Card className="transition-all shadow-medium hover:bg-secondary cursor-pointer  active:scale-[0.97]">
    <CardHeader>
      <slot name="header">
         <CardTitle>{title}</CardTitle>
      </slot>
    </CardHeader>
    <CardContent>
      <p class="text-xs">
        {description}
      </p>

      {
        !!image && (
          <figure>
            <img src={image} alt={title} />
          </figure>
        )
      }
    </CardContent>
  </Card>
</a>
