---
import Card from "./Card.astro";
let { title, url, description, image } = Astro.props.frontmatter || Astro.props;
---

<a href={url}>
  <Card isPressable={true} isHoverable={true}>
    <slot name="header">
      <div class="text-2xl font-bold">{title}</div>
    </slot>

    <p class="text-xs">
      {description}
    </p>

    {
      !!image && (
        <figure>
          <img src={image} alt={title} />
        </figure>
      )
    }
  </Card>
</a>
