---
import { cn } from "@nextui-org/react";
import { navbar } from "@nextui-org/theme";
import type { NavbarVariantProps } from "@nextui-org/theme";

interface Props extends NavbarVariantProps {
  height?: string;
}
const props: Props = Astro.props;
const styles = navbar(props);
---

<nav style="--navbar-height: 4em">
  <header class={styles.wrapper()}>
    {
      Astro.slots.has("brand") && (
        <div class={styles.content()}>
          <div class={styles.brand()}>
            <slot name="brand" />
          </div>
        </div>
      )
    }
    <div class={styles.content()}>
      <slot />
    </div>
    {
      Astro.slots.has("end") && (
        <div class={styles.content()}>
          <slot name="end" />
        </div>
      )
    }
  </header>
</nav>
